/* Reset simples */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Centralizar o formulário na tela */
  body {
    background-color: #DAA520;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Caixa do formulário */
  form {
    background: #E8BC4C;
    border: 4px solid #855F00;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
    width: 450px;
  }
  

  /* Texto */
  p {
    margin-bottom: 15px;
    color: #333;
    font-size: 16px;
  }
 
  /* Campo de texto */
  input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: #2563eb;
  }
  
  /* Botão */
  input[type="submit"] {
    padding: 15px 45px;
    background-color: #DAA520;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #855F00;
  }